header {
    text-align: center;
}

header p {
    font-size: 20px;
    width: 300px;
    margin: 20px auto;
}

header p span {
    font-weight: bold;
}

main {
    margin: 0 auto;
    padding: 40px 0;
    text-align: center;
    border: 1px black solid;
    border-radius: 10px;
    width: 300px;
    min-height: 100px;
}

main label {
    font-size: 20px;
    font-weight: bold;
}

main label form {
    margin-top: 20px;
}

main p {
    font-size: 40px;
    font-weight: bold;
}